<div class="well vcard">

  <legend><%= "#{resource.username}'s".capitalize %> Profile</legend>

  <dl>
    <dt>Username</dt>
    <dd><%= resource.username || '(none)' %></dd>
  </dl>

  <dl>
    <dt>Email</dt>
    <dd><%= resource.email ? mail_to(resource.email) : '(none)' %></dd>
  </dl>

  <dl>
    <dt>First Name</dt>
    <dd><%= resource.first_name || '(none)' %></dd>
  </dl>

  <dl>
    <dt>Last Name</dt>
    <dd><%= resource.last_name || '(none)' %></dd>
  </dl>

  <dl>
    <dt>Group</dt>
    <dd><%= resource.group.try(:name) || '(none)' %></dd>
  </dl>

  <dl>
    <dt>Birthday</dt>
    <dd><%= resource.birthday || '(none)' %></dd>
  </dl>

  <% if resource == current_user %>

    <%= link_to edit_student_path(@student), :class => 'btn' do %>
      <i class="icon-edit"></i>
      Edit
    <% end %>
  <% end %>

</div>


