<div class="well vcard">

  <%= profile_title %>

  <dl>
    <dt>Username</dt>
    <dd><%= resource.username %></dd>

    <dt>Email</dt>
    <dd><%= resource.email %></dd>

    <dt>First Name</dt>
    <dd><%= resource.first_name %></dd>

    <dt>Last Name</dt>
    <dd><%= resource.last_name %></dd>

    <dt>Group</dt>
    <dd><%= resource.group %></dd>

    <dt>Birthday</dt>
    <dd><%= resource.birthday %></dd>

    <%= edit_profile_button %>
  </dl>

</div>


