<tr>
    <td><%= exam.group.name %></td>
    <td><%= exam.time %></td>
    <td><%= exam.lesson %></td>
    <td><%= exam.teacher.name %></td>
    <td><%= exam.room %></td>
    <td><%= tooltip exam.notes %></td>
</tr>