<tr>
    <td><%= exam.group %></td>
    <td><%= exam.time %></td>
    <td><%= exam.lesson %></td>
    <td><%= exam.teacher %></td>
    <td><%= exam.room %></td>
    <td><%= tooltip exam.notes %></td>
</tr>